@import url('https://fonts.cdnfonts.com/css/norwester');

:root {
    --icon-size: 48px;
}

/* CSS reset */
html,
body {
    container: body / inline-size;

    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
    background-color: #716586;
}

button {
    min-width: 50%;
    padding: 14px;
    border-radius: 5px;
    background-color: white;
    border: none;

    a {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }
}

/* Layout block */
.layout {
    display: grid;
    background-color: white;
    font-size: 18px;

    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: auto 0;
}

.heading--inverse {
    color: white;
}

.u-grid-col-1 {
    grid-column: 1;
}

.u-grid-col-2 {
    grid-column: 2;
}

.u-grid-row-1 {
    grid-row: 1;
}

.u-grid-row-2 {
    grid-row: 2;
}

.u-grid-row-3 {
    grid-row: 3;
}

.u-grid-row-4 {
    grid-row: 4;
}

.u-uppercase {
    text-transform: uppercase;
}

.material-symbols-outlined {
    font-size: 28px;
    line-height: 1;
    color: white;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' -25,
        'opsz' 48
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 100px 50px;
    background-color: #8b7f9f;
}

.sidebar__monogram {
    color: white;
    font-family: "Norwester", sans-serif;
    text-align: center;

    border-style: solid hidden;
    border-color: white;
}

.sidebar__intro {
    display: flex;
    flex-direction: column;
}

.sidebar__name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    letter-spacing: 8px;
}

.sidebar__role {
    letter-spacing: 4px;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Resume */
.resume-section {
    container: resume / inline-size;

    display: grid;
    grid-template-columns: 48px 1fr;
    grid-auto-rows: min-content;
    gap: 24px;

    padding: 100px 50px;
}

.resume-section__icon {
    grid-column: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #8b7f9f;
    border-radius: 50%;
    width: var(--icon-size);
    height: var(--icon-size);
}

.resume-section__image {
    grid-column: 1;

    border-radius: 50%;
    width: var(--icon-size);
    height: var(--icon-size);
}

.resume-section__content {
    grid-column: 2;
}

.resume-section__title {
    text-transform: uppercase;
    font-weight: 600;
}

.resume-section__period {
    color: #8b7f9f;
}

.resume-section__skills {
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

/* Mobile */
@container body (width < 800px) {
    .layout {
        grid-template-columns: 100%;
        font-size: 14px;
    }

    .sidebar,
    .resume-section {
        grid-column: 1;
    }

    .sidebar__monogram {
        font-size: 150px;
        border-width: 6px;
    }

    .sidebar__name {
        font-size: 32px;
    }
}

@container body (width >= 800px) and (width < 1200px) {
    .layout {
        grid-template-columns: 40% 60%;
        font-size: 16px;
    }

    .sidebar {
        grid-column: 1;
    }

    .resume-section {
        grid-column: 2;
    }

    .sidebar__monogram {
        font-size: 225px;
        border-width: 9px;
    }

    .sidebar__name {
        font-size: 42px;
    }
}

@container body (width >= 1200px) {
    .layout {
        grid-template-columns: 30% 70%;
        font-size: 18px;
    }

    .sidebar {
        grid-column: 1;
    }

    .resume-section {
        grid-column: 2;
    }

    .sidebar__monogram {
        font-size: 300px;
        border-width: 12px;
    }

    .sidebar__name {
        font-size: 54px;
    }
}

@container resume (width < 520px) {
    .resume-section__skills {
        grid-template-columns: 1fr;
    }

    .u-grid-col-2 {
        grid-column: 1;
    }
}
